.entradaNumerica {
    display: flex;
    flex: 1;
    color: #000;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.text {
    color: #555;
    font-size: 1.5rem;
}

.value {
    color: #555;
    font-size: 6rem;
}

.botoes {
    display: flex;
}

.btnInc {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 80px;
    height: 80px;
    margin: 5px;
    border: none;
    border-radius: 50px;
    background-color: #28a085;
}

.btnDec {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 80px;
    height: 80px;
    margin: 5px;
    border: none;
    border-radius: 50px;
    background-color: #c0392c;
}